body {
    font-family: 'Source Code Pro', monospace, 'Arial', sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.navbar-brand:hover{
    transition: opacity 1.0s ease;
    opacity: .5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #000;
    color: blanchedalmond;
    z-index: 9999;
}


.nav {
    height: 70px;
}

.navbar {
    background-color: #000;
}

.navbar-brand {
    font-family: 'Teko', sans-serif;
    font-size: 35px;
    display: flex;
    align-items: center;
}

.navbar-brand span {
    margin-top: 7px;
    margin-right: 10px;
}

.nav-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dropdown-menu.show {
    background-color: #000;
}

.dropdown-menu.show li a {
    color: #fff;
}

.dropdown-menu.show li a:hover {
    background-color: #0dcaf0;
}

.dropdown-item {
    text-transform: capitalize;
}

.promo {
    margin-top: 90px;
    padding: 140px 0 0;
    min-height: calc(100vh - 90px);
    background-image: url('../img/promoBG2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.promo__header {
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 80px;
    text-transform: capitalize;
    font-weight: 700;
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 30px #282c91, 0 0 75px #282c91, 8px 4px 4px rgba(206,89,55,0);
    margin-bottom: 35px;
    opacity: 0;
}

.promo__text {
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;
    max-width: 600px;
    font-family: 'Caveat', cursive;
    color: #0dcaf0;
    letter-spacing: .1em;
    text-shadow: 4px 6px 3px #000, 4px 6px 5px #000, 4px 6px 5px #000, 4px 6px 5px #000, 4px 6px 5px #000;
}



.footer {
    display: flex;
    align-items: center;
    height: 100px;
}

.footer .container-fluid {
    display: flex;
    justify-content: center;
}

/*==========PLANETS============*/
.promo.mercury {
    background-image: url('../img/planets/mercury.jpg');
}

.promo.venus {
    background-image: url('../img/planets/venus.jpg');
}

.promo.earth {
    background-image: url('../img/planets/earth.jpg');
}

.promo.mars {
    background-image: url('../img/planets/mars.jpg');
}

.promo.jupiter {
    background-image: url('../img/planets/jupiter.jpg');
}

.promo.saturn {
    background-image: url('../img/planets/saturn.jpg');
}

.promo.uranus {
    background-image: url('../img/planets/uranus.jpg');
}

.promo.neptune {
    background-image: url('../img/planets/neptune.jpg');
}
/*=================*/

.description {
    padding: 100px 0;
    min-height: 500px;
    background-image: url('../img/planets/stars.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #e0dfdc;
}

.description__header,
.news-list__header,
.admin-list__header {
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #e0dfdc;
}

.description__text {
    text-align: left;
}

.description__text__link {
    color: brown;
    float: right;
}

/*========NEWS=========*/
.promo.news {
    background-image: url('../img/newsBG.jpg');
}

.news-list,
.admin-list,
.edit-list {
    background-color: black;
    padding: 100px 0;
}

.card {
    height: 500px;
    width: 325px;
    background-color: #e0dfdc;
}

.card-body {
    height: 320px;
    overflow: hidden;
}

.card-title {
    font-weight: 700;
    height: 85px;
    overflow: hidden;
}

.card-text {
    overflow: hidden;
    height: 125px;
}

.card-more {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img-top {
    display: flex;
    width: 100%;
    height: 180px;
}

@media (max-width: 325px) {
    .card-more__date {
        font-size: 15px;
    }
}


.card-more__date {
    margin: 0;
}

.news-list__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 30px;
    column-gap: 20px;
}

.news-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    color: #e0dfdc;
}

.news-info__header {
    text-align: center;
    margin-bottom: 40px;
}

.news-info__text {
    text-indent: 20px;
}

.news-info__img {
    margin-bottom: 40px;
}

.news-info__date {
    color: #0dcaf0;
}

@media (max-width: 992px) {
    .news-list__items {
        justify-content: center;
    }
}

/*=======LOGIN======*/
.login-btn {
    display: flex;
    margin-left: .5rem;
    justify-content: space-evenly;
    column-gap: .5rem;
}

.promo.login {
    background-image: url('../img/loginBG.jpg');
}

@media (max-width: 991.98px) {
    .login-btn {
        margin-top: .5rem;
    }
}

#form-login {
    display: flex;
    justify-content: center;
}

@media (max-width: 776.98px) {
    #form-login {
        flex-direction: column;
        align-items: center;
    }
}

/*=====ADMIN=========*/

.promo.admin {
    background-image: url('../img/adminBG.jpg');
}

.admin-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-body__todo {
    display: flex;
    flex-direction: column;
}

.card-admin,
.card-body-admin,
.card-text-admin {
    height: auto;
    width: auto;
}

.card-admin-links {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    row-gap: .5rem;
    column-gap: .5rem;
}

/*======EDIT NEWS========*/

.promo.edit-news {
    background-image: url('../img/editNewsBG.png');
}

.text-area-text {
    height: 100%;
}

.edit-list-body {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.edit-list-body form {
    display: flex;
    flex-direction: column;
    background-color: #1c202b;
    color: #fff;
}

.edit-list-body form label {
    padding: 10px;
}

.edit-list-item-par {
    padding: 20px;
    text-align: center;
    margin: 0;
}

.btn-edit {
    padding: 20px;
}

.promo.edit-result {
    background-image: url('../img/editNewsResult.jpg');
}

.edit-back {
    display: block;
    margin: 0 auto;
    width: 200px;
}

/*========ADD NEWS=========*/

.promo.add-news {
    background-image: url('../img/addNewsBG.jpg');
}

.add-alert {
    display: none;
    color: red;
    border: 1px solid red;
}

span[class*=symbols-length] {
    color: red;
}

.add-alert-form {
    padding: 15px;
    margin: 0;
}

/*========DELETE NEWS=========*/

.promo.delete-news {
    background-image: url('../img/deleteNewsBG.jpg');
}

.delete-field {
    padding: 20px;
    background-color: #e0dfdc;
    color: #000;
}

.promo.delete-result {
    background-image: url('../img/deleteNewsResult.jpg');
}